header{
    font-size: 40px;
    position: fixed;
    top:0;
    right:0;
    left:0;
    height:150px;
    background-color: rgb(46, 126, 187);
    text-align: center;
    background-image: linear-gradient(to right, #a1a8bb, rgb(74, 133, 201));
    }
    section{
    position:relative;
    top:92px;
    }
    nav{
    background-color: #2cb7c4;
    padding:10px;
    position:relative;
    left:100;
    right:0;
    background-image: linear-gradient(to right, #4c5879, rgb(23, 81, 147));
    }
    nav a{
      text-decoration: none;
      color:black;
      margin:15px;
      font-size: 20px;
    }

    nav a:hover {
      background-color: #374772;
      border: 2px;;
      color: rgb(0, 0, 0);
      padding: 13px 32px;
      text-align: center;
      font-size: 20px;
      margin: 4px 2px;
      opacity: 0.9;
      transition: 0.5s;
    }

    article a{
      border-radius: 25px;
    }
    
    a:hover{
     
      opacity: 0.9;
      transition: 0.5s;
    }
    body{
      background-color:#18A7B5;
      background-image: url(https://media.istockphoto.com/id/876583920/photo/colorful-cotton-dog-toy-and-pink-ball-on-a-white-background.jpg?s=612x612&w=0&k=20&c=7qJqNHfa-1-ain4VkljVBhmW6KSlZatQjhuhCA_VfYU=);
      background-repeat: no-repeat;
      background-size: cover;
    }
    article, aside{
      position:relative;
      top:97px;
    }
    article p{
      font-size: 50px;
    }
    article p a{
      text-decoration: none;
      color:black;
      margin:50px;
    padding:10px;
    opacity:0.8;
    background-color: green;
    border: 2px 2px groove black;
    float:left;
    }
    