input{
    font-size: 25px;
    }
    
    label{
      font-size: 30px;
    
    }
    form{
      margin: auto;
      width:372px;
      text-align: center;
      padding:30px;
      background-color: rgb(255, 255, 255);
      border-radius: 25px;
      height:1200px;
      color:#000000;
      font-weight:bold;
      font-style:italic;
      font-size:18px;
      background:url(../images/organicContent.jpg) repeat-y top center;
      padding:5px 5px 10px;
      height:1250px;
      font-size: small;
      border-width: 500px;
    }
    body{
      background-color:#18A7B5;
      background-image: url(https://media.istockphoto.com/id/876583920/photo/colorful-cotton-dog-toy-and-pink-ball-on-a-white-background.jpg?s=612x612&w=0&k=20&c=7qJqNHfa-1-ain4VkljVBhmW6KSlZatQjhuhCA_VfYU=);
      background-repeat: no-repeat;
      background-size: cover;
    }
    